nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10dvh;
    width: 100%;
    padding: 1% 4%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 99999;

    .logo-container {
        height: 100%;
    }

    .navlinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        color: white;

        li {
            list-style: none;
            cursor: pointer;
            font-size: 1.3vw;
            transition: 0.3s;

            &:hover {
                color: rgb(25, 223, 25);
            }
        }

        .active {
            color: rgb(25, 223, 25);
            text-decoration: underline;
        }
    }

    .view-plans-btn {
        width: 12%;
        height: 70%;
        ;
        border-radius: 100px;
        font-size: 1.1vw;
    }

    .menu-icon-container{
        display: none;
    }
}

section {
    width: 100%;
    height: 100dvh;
    padding: 1px;
    position: relative;
}

.home {
    background-image: url('/home-bg.avif');

    .home-contents {
        width: 50%;
        margin-left: 4%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        position: relative;

        .main-title {
            font-size: 36dvh;
            padding: 0;
            margin: 0;
            font-family: "Saira Stencil ONe";
            line-height: 1;
        }

        .sub-title {
            font-family: "Oswald";
            font-size: 5.8dvh;
            font-weight: 300;
            letter-spacing: 3.9%;
            margin-top: -5%;
        }

        .cta-btn-container {
            height: 7dvh;
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            margin-top: 3%;
            width: 100%;

            button {
                width: 40%;
                font-size: 1.8vw;
                border-radius: 200px;
                gap: 20px;

                .icon {
                    font-size: 2.7vw;
                }
            }
        }

        .social-media-icons-container {
            height: 8dvh;
            width: 100%;
            margin-top: 4%;
            display: flex;
            align-items: stretch;
            justify-content: space-evenly;

            .icon {
                font-size: 4dvw;
                color: rgb(25, 223, 25);

                &:hover {
                    color: white;
                }
            }
        }
    }

    .home-backdrop {
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.474));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

@supports not (background-image: url('/home-bg.avif')) {
    .home {
        background-image: url('/home-bg.webp')
    }
}

.about {
    background-image: url('/about-bg.avif');

    .about-container {
        width: 70%;
        height: 50%;
        position: absolute;
        right: 4%;
        top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;

        .main-title {
            font-size: 5.8dvh;
        }

        .sub-title {
            font-family: "Oswald";
            font-size: 3dvh;
            text-align: center;
        }

        .paper-title {
            height: 40%;
            width: 70%;
            background-image: url('/paper-peace.avif');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(48, 147, 48);
            font-size: 1.6vw;
            margin-top: 2%;
            transition: all 0.3s;

            &:hover {
                transform: rotate(5deg);
                cursor: pointer;
            }
        }

        .button-container {
            display: flex;
            width: 70%;
            height: 15%;
            margin-top: 3%;
            justify-content: space-between;

            button {
                width: 45%;
                border-radius: 300px;
                font-size: 1.2vw;

                .icon {
                    font-size: 2.2vw;
                }
            }
        }
    }

    .about-backdrop {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.474));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

@supports not (background-image: url('/about-bg.avif')) {
    .about {
        background-image: url('/about-bg.webp');
    }
}

@supports not (background-image: url('/paper-peace.avif')) {
    .paper-title {
        background-image: url('/paper-peace.webp');
    }
}

.features {
    background-image: url('/features-bg.avif');

    .features-contents {
        margin-left: 4%;
        margin-top: 10%;
        width: 55%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 999;

        .main-title {
            font-size: 9dvh;
        }

        .sub-title {
            font-family: "Oswald";
            font-size: 3dvh;
        }

        .cards-container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 100%;
            margin-top: 4%;
            gap: 20px;

            .card {
                background-color: rgb(25, 223, 25);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.3s;

                .title {
                    font-size: 3.5dvh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    text-decoration: underline;

                    .icon {
                        font-size: 5dvh;
                    }
                }

                .description {
                    font-size: 3dvh;
                    padding: 20px;
                }

                &:hover {
                    background-color: white;
                    color: rgb(25, 223, 25);
                }
            }
        }
    }

    .features-backdrop {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.474));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

@supports not (background-image: url('/features-bg.avif')) {
    .features {
        background-image: url('/features-bg.webp');
    }
}

.plans {
    background-image: url('/backup-bg.avif');

    .plans-container {
        position: relative;
        width: 90%;
        height: 80%;
        margin-top: 12dvh;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;

        .main-title {
            font-size: 7dvh;
        }

        .sub-title {
            font-size: 2.8dvh;
            font-family: "Oswald";
        }

        .cards-container {
            width: 80%;
            flex: 1;
            margin-top: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .card {
            background-color: blue;
            height: 90%;
            width: 30%;
            background: linear-gradient(to bottom, #D6F5D6, #ADEBAD);
            border-radius: 20px;

            .top-section {
                background-color: white;
                height: 40%;
                border-radius: 20px;
                color: black;
                padding: 4%;

                .head-tag {
                    background-color: #28A428;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    height: 20%;
                    border-radius: 100px;
                    color: white;
                }

                .week-text {
                    font-size: 2.2dvh;
                    margin-top: 2%;
                    font-weight: 500;
                }

                .description-section {
                    font-size: 1.8dvh;
                }

                .price {
                    font-family: "Oswald";
                    font-size: 6dvh;
                    text-align: center;
                    margin-top: 6%;
                }
            }

            .bottom-section {
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                color: black;

                .description-section {
                    font-size: 2dvh;
                    text-align: center;
                    font-weight: 500;
                }

                .plan-details {
                    width: 90%;
                    list-style: none;
                    font-size: 2.3dvh;

                    li {
                        margin-top: 10px;
                    }
                }

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        gap: 2%;
                    }
                }

                .start-plan-button {
                    background-color: #28A428;
                    width: 80%;
                    height: 15%;
                    font-size: 1.8dvh;
                    border-radius: 200px;
                    gap: 5px;

                    .icon {
                        font-size: 4dvh;
                    }
                }
            }

            transition: all 0.3s linear;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }

        .popular {
            height: 100%;
            background: #32CD32;
            box-shadow: 0px 0px 20px 10px #28A428;

            .top-section {
                background: #D6F5D6;

                .head-tag {
                    background-color: #D6F5D6;
                    width: 95%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .left {
                        background-color: #145214;
                        width: 65%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
                        gap: 10px;
                    }

                    .right {
                        color: #145214;
                        font-size: 1.7dvh;
                        font-weight: 700;
                    }
                }
            }

            .bottom-section {

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        gap: 2%;
                    }
                }

                .start-plan-button {
                    background-color: #145214;
                    width: 90%;
                }
            }
        }
    }

    .plans-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

@supports not (background-image: url('/backup-bg.avif')) {
    .plans {
        background-image: url('/backup-bg.webp');
    }
}

.success-stories {
    background-image: url('/success-stories-bg.avif');
    overflow: hidden;

    .success-stories-contents {
        position: relative;
        z-index: 999;
        height: 80%;
        width: 90%;
        margin-top: 8%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;

        .title-section {
            display: flex;
            align-items: center;
            gap: 30px;

            .main-title {
                font-size: 5dvh;
                border-right: solid 5px;
                padding-right: 40px;
            }

            .sub-title {
                font-size: 2.5dvh;
            }
        }

        .cards-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            overflow-y: auto;
            margin-top: 3%;
            scrollbar-track-color: transparent;
            scrollbar-color: #888 transparent;
            scrollbar-width: thin;
            padding-right: 10px;

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            .card {
                aspect-ratio: 1/1.2;
                border-radius: 30px;
                border: solid 4px rgb(25, 223, 25);
                background-color: white;
                color: black;
                display: flex;
                flex-direction: column;

                .top-section {
                    border-radius: 30px;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    padding-left: 4%;
                    gap: 4%;

                    .pro-pic {
                        height: 80%;
                        aspect-ratio: 1;
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: solid 2px rgb(25, 223, 25);
                    }

                    .name {
                        font-size: 2.5dvh;
                        font-weight: 600;
                    }

                    .instagram-icon {
                        height: 40%;
                        aspect-ratio: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #28A428;

                        .icon {
                            font-size: 4dvh;
                        }

                        a {
                            color: #28A428;
                        }
                    }
                }

                .middle-section {
                    margin: 2% 4% 0% 4%;
                }

                .bottom-section {
                    display: flex;
                    flex: 1;
                    margin: 4%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2%;

                    .before-section,
                    .after-section {
                        height: 100%;
                        width: 50%;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        .title {
                            font-size: 2.5dvh;
                        }

                        .image {
                            flex: 1;
                            width: 100%;
                            border: solid 2px rgb(25, 223, 25);
                            border-radius: 20px;
                            background-size: cover;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }

    .success-stories-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

@supports not (background-image: url('/success-stories-bg.avif')) {
    .success-stories {
        background-image: url('/success-stories-bg.webp');
    }
}

.contact-us {
    background-image: url('/contact-us-bg.avif');

    .contact-us-contents {
        position: relative;
        z-index: 999;
        height: 80%;
        margin-top: 7%;
        width: 92%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;

        .title-section {
            display: flex;
            flex-direction: column;

            .main-title {
                font-size: 5dvh;
            }

            .sub-title {
                font-family: "Oswald";
                font-size: 2.5dvh;
            }
        }

        .contact-box-container {
            // flex: 1;
            // margin-top: 2%;
            // margin-bottom: 2%;
            height: 85%;
            margin-top: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2%;

            .left-side {
                background-color: rgb(25, 223, 25);
                height: 100%;
                width: 60%;
                border-radius: 40px;
                padding: 2%;

                .title {
                    font-size: 4dvh;
                    color: #145214;
                    font-weight: 600;
                }

                .card-container {
                    margin-top: 2%;
                    height: 60%;
                    display: grid;
                    grid-template-columns: repeat(2, 2fr);
                    gap: 40px;

                    .card {
                        background-color: #ADEBAD;
                        border-radius: 20px;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
                        display: flex;
                        align-items: center;
                        gap: 5%;
                        padding: 4%;
                        transition: all 0.3s;

                        .icon-container {
                            background-color: #32CD32;
                            height: 70%;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .icon {
                                font-size: 4dvh;
                                color: #145214;
                            }
                        }

                        .text-container {
                            display: flex;
                            flex-direction: column;
                            color: #145214;

                            .main-text {
                                font-size: 2.5dvh;
                            }

                            .sub-text {
                                font-size: 1.5dvh;
                            }
                        }

                        &:hover {
                            background-color: white;
                            cursor: pointer;
                        }
                    }
                }

                .social-media-container {
                    display: flex;
                    margin-top: 5%;
                    border-top: solid 4px white;
                    padding-top: 5%;
                    align-items: center;
                    justify-content: space-between;
                    color: #145214;
                    gap: 10%;

                    .text {
                        font-size: 2dvh;
                        font-weight: 500;
                    }

                    .social-media-icons-container {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .icon {
                            font-size: 4.5dvh;
                            color: #145214;
                            transition: all 0.3s;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }

            .right-side {
                background-color: #ADEBAD;
                height: 100%;
                width: 40%;
                border-radius: 40px;
                display: flex;
                flex-direction: column;
                padding: 2%;
                align-items: center;
                justify-content: space-between;
                gap: 2%;

                .input-field {
                    // background-color: white;
                    border: none;
                    border-radius: 10px;
                    width: 100%;
                    height: 12%;
                    // max-height: 12%;
                }

                .age-height-container,
                .weight-week-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 3%;
                    width: 100%;
                    height: 12%;

                    .input-field {
                        width: 50%;
                        height: 100%;
                    }

                    .message-input {
                        max-height: 12%;
                    }
                }

                .input-field.PhoneInput {
                    // background-color: white;
                    background-color: transparent;
                    border-radius: 10px;
                    padding: 10px;
                    height: 12%; // match MUI TextField
                    display: flex;
                    align-items: center;
                    border: 1px solid #00000045;

                    .PhoneInputCountry {
                        margin-right: 8px;
                        color: #145214;
                    }

                    .PhoneInputCountrySelect {
                        border: none;
                        outline: none;
                        background: transparent;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .PhoneInputInput {
                        border: none;
                        outline: none;
                        font-size: 16px;
                        width: 100%;
                        background: transparent;
                    }
                }

                .send-msg-btn {
                    height: 12%;
                    width: 50%;
                    border-radius: 10px;
                    border: none;
                    font-size: 1.8dvh;

                    .icon {
                        font-size: 2.5dvh;
                    }
                }
            }
        }
    }

    .contact-us-backdrop {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

@supports not (background-image: url('/contact-us-bg.avif')) {
    .contact-us {
        background-image: url('/contact-us-bg.webp');
    }
}

footer {
    background-color: #ADEBAD;
    display: flex;
    height: 30dvh;
    padding-top: 3%;
    justify-content: space-around;
    color: #145214;

    .text-description {
        width: 40%;
        font-size: 2.5dvh;
        text-align: justify;
    }

    ul {
        color: #145214;

        li {
            color: #145214;
            font-size: 2dvh;
            list-style: none;
            text-decoration: underline;
            margin-top: 5%;

            &:hover {
                color: white;
            }
        }
    }

    .logo-container {
        height: 60%;
    }
}

.bottom {
    background-color: #145214;
    height: 4dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2dvh;
}

//mobile
@media (max-width: 767px) {
    nav{
        height: 8dvh;
        .navlinks{
            display: none;
        }
        button{
            display: none;
        }
        .menu-icon-container{
            display: block;
        }
    }

    .home {
        background-position: right 10% center;

        .home-contents {
            position: absolute;
            // margin-top: 30%;
            bottom: 25%;
            width: 80%;
            left: 10%;
            margin: 0;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            gap: 2%;

            .main-title {
                font-size: 35dvw;
            }

            .sub-title {
                font-size: 5.2dvw;
            }

            .cta-btn-container {
                justify-content: space-between;
                height: 7%;
                button {
                    font-size: 3.5dvw;
                    gap: 4%;
                    width: 45%;

                    .icon {
                        font-size: 5dvw;
                    }
                }
            }

            .social-media-icons-container {
                justify-content: space-between;
                a {
                    .icon {
                        font-size: 8dvw;
                    }
                }
            }
        }

        .home-backdrop {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .about {
        background-position: left 10% center;

        .about-backdrop{
            background-color: rgba(0,0,0,0.3);
        }

        .about-container {
            height: 60%;
            position: absolute;
            margin: 0;
            width: 80%;
            left: 10%;
            top: 20%;

            .main-title {
                font-size: 10dvw;
                text-align: center;
                font-weight: 600;
            }

            .sub-title {
                font-size: 4dvw;
                margin-top: 5%;
            }

            .paper-title {
                width: 90%;
                font-size: 3.3dvw;
            }

            .button-container {
                width: 100%;
                height: 40%;
                flex-direction: column;
                gap: 20%;
                align-items: center;

                button {
                    width: 80%;
                    height: 70%;
                    font-size: 4dvw;
                    gap: 2%;

                    .icon {
                        font-size: 6dvw;
                    }
                }
            }
        }
    }

    .features {
        background-position: right 15% center;
    
        .features-backdrop{
            background-color: rgba(0,0,0,0.4);
        }

        .features-contents {
            width: 80%;
            margin-top: 30%;
            margin-left: 10%;

            .main-title {
                font-size: 11dvw;
                font-weight: 500;
            }

            .sub-title {
                font-size: 3.2dvw;
            }

            .cards-container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;

                .card {
                    height: 24%;
                    border-radius: 10px;

                    .title {
                        font-size: 5dvw;

                        .icon {
                            font-size: 6dvw;
                        }
                    }

                    .description {
                        font-size: 4dvw;
                    }
                }
            }
        }
    }

    .plans {
        height: auto;
        min-height: 100dvh;
        
        .plans-container {
            width: 90%;
            gap: 3%;
            margin-top: 20%;

            .main-title {
                font-size: 10dvw;
                text-align: center;
            }

            .sub-title {
                font-size: 2dvw;
            }

            .cards-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 40px;
                padding-bottom: 40px;
                padding-top: 20px;

                .card {
                    width: 70%;
                    aspect-ratio: 1/1.6;

                    .top-section {
                        height: 40%;

                        .head-tag {
                            width: 70%;
                            font-size: 3.2dvw;

                            .icon {
                                font-size: 5dvw;
                            }
                        }

                        .week-text {
                            font-size: 4dvw;
                        }

                        .description-section {
                            font-size: 3dvw;
                        }

                        .price {
                            font-size: 10dvw;
                        }
                    }

                    .bottom-section {
                        height: 60%;

                        .description-section {
                            font-size: 3dvw;
                        }

                        .plan-details {
                            li {
                                font-size: 3.5dvw;
                            }
                        }

                        button {
                            font-size: 3dvw;
                            gap: 2px;

                            .icon {
                                font-size: 6dvw;
                            }
                        }
                    }
                }

                .popular {

                    .top-section {
                        .head-tag {
                            width: 100%;
                            .left {
                                font-size: 3dvw;
                            }

                            .right {
                                font-size: 2.5dvw;
                            }
                        }
                    }
                }
            }
        }
    }

    .success-stories {
        .success-stories-contents {
            margin-top: 25%;

            .title-section {
                text-align: center;
                flex-direction: column;

                .main-title {
                    font-size: 8dvw;
                    border: none;
                    margin: 0;
                    padding: 0;
                }

                .sub-title {
                    font-size: 2.5dvw;
                    margin: 0;
                    padding: 0;
                }
            }

            .cards-container {
                flex: 1;
                grid-template-columns: repeat(2, 2fr);

                .card {
                    .top-section {
                        .name {
                            font-size: 2.2dvw;
                        }

                        .instagram-icon {
                            .icon {
                                font-size: 4dvw;
                            }
                        }
                    }

                    .bottom-section {

                        .before-section,
                        .after-section {
                            .title {
                                font-size: 2dvw;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-us {
        .contact-us-contents {
            margin-top: 15%;
            width: 90%;
            margin-left: 5%;

            .title-section {
                .main-title {
                    font-size: 5dvw;
                }

                .sub-title {
                    font-size: 2.5dvw;
                }
            }

            .contact-box-container {
                flex-direction: column;
                flex: 1;

                .left-side {
                    height: 40%;
                    width: 100%;
                    border-radius: 20px;

                    .title {
                        font-size: 3dvw;
                    }

                    .card-container {
                        height: 50%;
                        gap: 2%;
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;

                        .card {
                            flex-direction: column;
                            width: 23%;
                            padding: 1%;
                            gap: 5%;
                            border-radius: 10px;

                            .icon-container {
                                height: 30%;

                                .icon {
                                    font-size: 3dvw;
                                }
                            }

                            .text-container {
                                align-items: center;
                                gap: 2%;

                                .main-text {
                                    font-size: 2.3dvw;
                                }

                                .sub-text {
                                    font-size: 1.6dvw;
                                }
                            }
                        }
                    }

                    .social-media-container {
                        margin-top: 2%;
                        padding: 2%;

                        .text {
                            font-size: 2dvw;
                        }

                        .social-media-icons-container {
                            .icon {
                                font-size: 4dvw;
                            }
                        }
                    }
                }

                .right-side {
                    height: 60%;
                    width: 100%;
                    border-radius: 20px;
                    padding: 2%;
                }
            }
        }
    }

    footer{
        height: 20dvh;
        .text-description{
            font-size: 2dvw;
        }
        ul{
            li{
                font-size: 1.2dvw;
            }
        }
        .logo-container{
            height: 40%;
        }
    }

    .bottom{
        font-size: 1.8dvw;
    }
}

//tablet
@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        .logo-container {
            height: 70%;
        }

        .navlinks {
            width: 60%;

            li {
                font-size: 1.2dvh;
            }
        }

        .view-plans-btn {
            width: 18%;
            height: 30%;
        }
    }

    .home {
        background-position: right center;

        .home-contents {
            position: absolute;
            // margin-top: 30%;
            bottom: 10%;
            width: 80%;
            left: 10%;
            margin: 0;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            gap: 2%;

            .main-title {
                font-size: 32dvw;
            }

            .sub-title {
                font-size: 5dvw;
            }

            .cta-btn-container {
                button {
                    font-size: 3.3dvw;

                    .icon {
                        font-size: 5dvw;
                    }
                }
            }

            .social-media-icons-container {
                a {
                    .icon {
                        font-size: 6dvw;
                    }
                }
            }
        }

        .home-backdrop {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .about {
        background-position: left 10% center;

        .about-container {
            height: 50%;
            margin-top: -10%;

            .main-title {
                font-size: 6dvw;
                text-align: center;
            }

            .sub-title {
                font-size: 3dvw;
                margin-top: 5%;
            }

            .paper-title {
                width: 90%;
                font-size: 2.6dvw;
            }

            .button-container {
                button {
                    width: 46%;
                    height: 70%;
                    font-size: 1.5dvw;
                    gap: 2%;

                    .icon {
                        font-size: 3dvw;
                    }
                }
            }
        }
    }

    .features {
        background-position: right 15% center;

        .features-contents {
            width: 80%;
            margin-top: 20%;
            margin-left: 10%;

            .main-title {
                font-size: 10dvw;
            }

            .sub-title {
                font-size: 3.2dvw;
            }

            .cards-container {
                .card {

                    // background-color: transparent;
                    // backdrop-filter: blur(20px);
                    .title {
                        font-size: 2.8dvw;

                        .icon {
                            font-size: 4dvw;
                        }
                    }

                    .description {
                        font-size: 2.8dvw;
                    }
                }
            }
        }
    }

    .plans {
        .plans-container {
            height: 60%;
            width: 90%;
            gap: 3%;
            margin-top: 25%;

            .main-title {
                font-size: 6dvw;
            }

            .sub-title {
                font-size: 2dvw;
            }

            .cards-container {
                width: 100%;

                .card {
                    height: 70%;

                    .top-section {
                        height: 40%;

                        .head-tag {
                            font-size: 1.2dvw;

                            .icon {
                                font-size: 2dvw;
                            }
                        }

                        .week-text {
                            font-size: 1.5dvw;
                        }

                        .description-section {
                            font-size: 1.3dvw;
                        }

                        .price {
                            font-size: 4dvw;
                        }
                    }

                    .bottom-section {
                        height: 60%;

                        .description-section {
                            font-size: 1.3dvw;
                        }

                        .plan-details {
                            li {
                                font-size: 1.5dvw;
                            }
                        }

                        button {
                            font-size: 1.1dvw;
                            gap: 2px;

                            .icon {
                                font-size: 3dvw;
                            }
                        }
                    }
                }

                .popular {
                    height: 80%;

                    .top-section {
                        .head-tag {
                            .left {
                                font-size: 1dvw;
                            }

                            .right {
                                font-size: 1dvw;
                            }
                        }
                    }
                }
            }
        }
    }

    .success-stories {
        .success-stories-contents {
            margin-top: 20%;

            .title-section {
                .main-title {
                    font-size: 5dvw;
                }

                .sub-title {
                    font-size: 2.5dvw;
                }
            }

            .cards-container {
                flex: 1;
                grid-template-columns: repeat(2, 2fr);

                .card {
                    .top-section {
                        .name {
                            font-size: 2.2dvw;
                        }

                        .instagram-icon {
                            .icon {
                                font-size: 4dvw;
                            }
                        }
                    }

                    .bottom-section {

                        .before-section,
                        .after-section {
                            .title {
                                font-size: 2dvw;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-us {
        .contact-us-contents {
            margin-top: 15%;
            width: 90%;
            margin-left: 5%;

            .title-section {
                .main-title {
                    font-size: 5dvw;
                }

                .sub-title {
                    font-size: 2.5dvw;
                }
            }

            .contact-box-container {
                flex-direction: column;
                flex: 1;

                .left-side {
                    height: 40%;
                    width: 100%;
                    border-radius: 20px;

                    .title {
                        font-size: 3dvw;
                    }

                    .card-container {
                        height: 50%;
                        gap: 2%;
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;

                        .card {
                            flex-direction: column;
                            width: 23%;
                            padding: 1%;
                            gap: 5%;
                            border-radius: 10px;

                            .icon-container {
                                height: 30%;

                                .icon {
                                    font-size: 3dvw;
                                }
                            }

                            .text-container {
                                align-items: center;
                                gap: 2%;

                                .main-text {
                                    font-size: 2.3dvw;
                                }

                                .sub-text {
                                    font-size: 1.6dvw;
                                }
                            }
                        }
                    }

                    .social-media-container {
                        margin-top: 2%;
                        padding: 2%;

                        .text {
                            font-size: 2dvw;
                        }

                        .social-media-icons-container {
                            .icon {
                                font-size: 4dvw;
                            }
                        }
                    }
                }

                .right-side {
                    height: 60%;
                    width: 100%;
                    border-radius: 20px;
                    padding: 2%;
                }
            }
        }
    }

    footer{
        height: 20dvh;
        .text-description{
            font-size: 2dvw;
        }
        ul{
            li{
                font-size: 1.2dvw;
            }
        }
        .logo-container{
            height: 40%;
        }
    }

    .bottom{
        font-size: 1.8dvw;
    }
}

//laptop
@media (min-width: 1025px) and (max-width: 1279px) {
    .features {
        .features-contents {
            .cards-container {
                .card {
                    .title {
                        font-size: 3dvh;
                    }

                    .description {
                        font-size: 2.7dvh;
                    }
                }
            }
        }
    }

    .plans {
        .plans-container {
            .cards-container {
                .card {
                    .top-section {
                        .head-tag {
                            font-size: 1.4dvh;
                        }

                        .week-text {
                            font-size: 1.7dvh;
                        }

                        .description-section {
                            font-size: 1.7dvh;
                        }

                        .price {
                            font-size: 5dvh;
                        }
                    }

                    .bottom-section {
                        .description-section {
                            font-size: 1.7dvh;
                        }

                        ul {
                            li {
                                font-size: 1.8dvh;
                                display: flex;
                                align-items: center;
                                gap: 2%;
                            }
                        }
                    }
                }
            }
        }
    }

    .success-stories {
        .success-stories-contents {
            .title-section {
                .main-title {
                    font-size: 4dvh;
                }

                .sub-title {
                    font-size: 2dvh;
                }
            }
        }
    }
}

//desktop
@media (min-width: 1280px) {}